@import "mocha.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font", FontAwesome, JetBrainsMono, sans-serif;
    font-size: 12px;
	color: @lavender;
}

/*---БАР----------------------------------------------------------------*/
window#waybar {
    background-color: rgba(0, 0, 0, 0);
	border-radius: 10px;
	padding: 7px;
    color: @lavender;
    transition-property: background-color;
    transition-duration: .5s;
    padding: 0;
    margin: 0;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


/*---КНОПКИ-------------------------------------------------------------*/
button {
    margin: 0;
    padding: 10;
    background-color: @base;
    border-radius: 15;
}

button:hover {
    margin: 0;
    padding: 10;
	color: @base;
    background-color: @lavender;
    border-radius: 15;
}

button:focus {
    margin: 0;
    padding: 10;
    background-color: @mantle;
    border-radius: 15;
}


/*---КНОПКИ ОКОН--------------------------------------------------------*/
#workspaces {
    margin: 0;
    margin: 5 0 5 0;
	background-color: @mantle;
	border-radius: 15;
}

#workspaces button {
    padding: 0 5;
	padding-left: 9px;
    margin: 5;
    border-radius: 16;
	background-color: @mantle;
}

#workspaces button:hover {
	color: @base;
	background-color: @lavender;
}

#workspaces button.active {
    background-color: @crust;
}

#workspaces button.urgent {
    background-color: @red;
}


/*---ТРЕЙ---------------------------------------------------------------*/
#tray {
    padding: 7;
    margin: 5 0 5 0;
    background-color: @mantle;
    border-radius: 15;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}


/*---ALSA---------------------------------------------------------------*/
#custom-alsa {
    padding: 0 15 0 15;
    margin: 5px 0 5px 0;
    background-color: @mantle;
    border-radius: 15;
}


/*---WINDOW-------------------------------------------------------------*/
#window {
    padding: 0 15 0 15;
    margin: 5px 0 5px 0;
    background-color: @mantle;
    border-radius: 15;
}


/*---WINDOW-------------------------------------------------------------*/
#clock {
    padding: 0 15 0 15;
    margin: 5px 0 5px 0;
    background-color: @mantle;
    border-radius: 15;
}


#mode,
#custom-cava,
#battery,
#language,
#custom-weather {
    padding: 0 15 0 15;
    margin: 5px 0 5px 0;
    background-color: @mantle;
    border-radius: 15;
}


#keyboard-state {
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 0px;
}
